header {
    overflow: hidden;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: x-large;
    font-style: italic;
}
li {
    text-align: right;
    padding: 4px;
    font-size: large;
}